html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F9F8FF;

	font-family: Lato, sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #5736da;
	--red: #FC836D;
	--green-light: #C8F8E4;
	--green: #1DC37E;
	--font-family: "Lato", sans-serif;
	--gray-dark: #787D85;
}
